.list-btn{
    background-color: grey;
    color: white;
    font-weight: 400;
    border: 1px solid black;
    font: roboto;

}

.list-btn:hover{
    background-color: lightgrey;
}



.add-btn{
    background-color: #7795AD;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 14pt;
    position: relative;
    vertical-align: middle;
}

.add-btn:hover{
    background-color: rgb(128, 192, 245);
}

mat-icon{
    position: relative;
    vertical-align: middle;
    margin: 5px;
}

.list{
    width: 100%;
    height: 300px;
    overflow: scroll;
}