.acc-btn{
    background-color: black;
    border-radius:30%;
    border: 1px solid white;
    color: white;
    width:30px;
    height:40px;
    margin:10px;
    align-items: center;
    text-align: center;
    vertical-align: center;

}

.dec-btn{
    background-color: white;
    border-radius: 30%;
    border: 1px solid white;
    color: black;
    width:30px;
    height:40px;
    margin:10px;
    align-items: center;
    text-align: center;
    vertical-align: center;

}

button:hover{
    background-color: grey;
    border: 1px solid;
    border: none;
}

.buttons{
    position: relative;
    margin-left: 400px;
    clear: right;
}

.invite-item{
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
    width: 900px;
    text-align: center;
    /* background-color: rgb(56, 56, 56) */
}

.invite-item * {
    display: inline-block;
}

.text{
    font-size: 30pt;
    font-weight: 400;
    width:250px; /* or whatever width you want. */
    max-width:250px; /* or whatever width you want. */
    display: inline-block;
}