
<div class="close-button-line">
    <button class="mat-close-button"(click)="close()"><mat-icon class="close-icon">close</mat-icon></button>
  </div>
    <h1 #matheader> Create Direct Thread </h1>
    <mat-form-field class="search-form">
      <input matInput #search class="search" (input)="term$.next($event.target.value)" placeholder="Search.." autocomplete="off" >
    </mat-form-field>
    <div *ngIf="this.selectedUsers.length!==0" class="selected-container">
        <mat-list>
            <mat-list-item class="selected-user" *ngFor="let user of selectedUsers">
              <mat-icon class="selected-user-icon">done</mat-icon>
              <img class="profile-pic" src="http://localhost:3000/profilephoto/pic/{{user.photoPath}}">
              <span class="selected-username">
                {{user.username}}
              </span>
              <span class="selected-name">
                  {{'(' + user.firstName + ' ' + user.lastName + ')'}}
                </span>
              <button class="remove-button" (click)="removeUserFromSelected(user)">X</button> 
            </mat-list-item>
          </mat-list>
    </div>
    <div *ngIf="options.length===0" class=filler></div>
    <div class="user-selection-container">
      <mat-list *ngIf="options.length!==0">
        <mat-list-item class="user-selection" *ngFor="let user of options">
          <img class="profile-pic" src="http://localhost:3000/profilephoto/pic/{{user.photoPath}}">
          <span class="username">
            {{user.username}}
          </span>
          <span class="name">
              {{'(' + user.firstName + ' ' + user.lastName + ')'}}
            </span>
          <button class="add-button" (click)="addUser(user)">+</button>
        </mat-list-item>
        
      </mat-list>
  </div>
  

    <div class="action-buttons">
      <button mat-button class="mat-save-button"(click)="save()">Create</button>
    </div>
