
  <h2 mat-dialog-title>{{header}}</h2>

  <mat-dialog-content>
    <h1 #matheader> Select Users </h1>
    <mat-selection-list #usernames (selectionChange)="onSelection($event, usernames.selectedOptions.selected)" >
      <mat-list-option *ngFor="let user of options">
        {{user.username}}
      </mat-list-option>
    </mat-selection-list>
  
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-button class="mat-close-button"(click)="close()">Close</button>
      <button mat-button class="mat-save-button"(click)="save()">Create</button>
  </mat-dialog-actions>
