div{
    width: 300px;
    color: white;
    font: roboto;
    text-align: left;
    vertical-align: center;
    position: relative;
}

span{
    float: right;
}

.is-active {
    background-color: white;
    color: black;
  
}

.thread-name{
    float: left;
    text-align: left;
}

.thread-icon{
    float: left;
}