.toolbar{
  border-radius:1px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: black;
}

.menu-button{
  background-color: grey;
  align-items: center;
  border: 1px solid black;
  margin: 2%;
  width: 110px;
}

.menu-button:hover{
  background-color: lightgray;
}

.example-spacer {
  flex: 1 1 auto;
}

.grp{
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%;
}

