<mat-toolbar class="toolbar" color="primary" *ngIf="checkIfUsernameExists()">
  <div>
    <button mat-menu-item class="menu-button" type="button" mat-flat-button color="primary" (click)="goToProfile()"><mat-icon>account_circle</mat-icon>  Profile </button>
    <button mat-menu-item class="menu-button" type="button" mat-flat-button color="primary" (click)="goToInvite()"><mat-icon>receipt</mat-icon>  Invites </button>
    <button mat-menu-item class="menu-button" type="button" mat-flat-button color="primary" (click)="goToMainWindow()"><mat-icon>speaker_notes</mat-icon>  Chat </button>
    <button mat-menu-item class="menu-button" type="button" mat-flat-button color="primary" (click)="goToListOfGroups()"><mat-icon>menu</mat-icon>  Groups</button>
    <button mat-menu-item class="menu-button" type="button" mat-flat-button color="primary" (click)="logout()"><mat-icon>arrow_right_alt</mat-icon> Logout </button>
    <span class="example-spacer"></span>
    <span class="grp" *ngIf="ifGroupSelected()"> Current Group: {{getGroup()}}</span>
    <button *ngIf="ifGroupSelected()" mat-menu-item class="menu-button invite-btn" type="button" mat-flat-button color="primary" (click)="openAddToGroupModal()"><mat-icon>group_add</mat-icon>  Invite </button>
  </div>
</mat-toolbar>
