.msg-display{
    width: 100%;
    overflow: hidden;
}

.message-wrapper{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid lightgray; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 425px;
    margin-top: 300px;
    align-content: center;
    vertical-align: center;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.default-message{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10px;
}
  
.load-msg-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 10%;
    height: 40px;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.load-msg-button:hover{
    background-color: grey;
}

.load-msg-button:focus{
    outline: none;
}
