<!-- <div *ngIf="!isCurrent()" class="speech-bubble-wrapper">
  <div>{{message.username}}</div>
<div  class="speech-bubble">
  <div class="text">
  {{message.text}}
  </div>
</div>
</div>

<div *ngIf="isCurrent()" class="speech-bubble-current-wrapper">
  <div class="speech-bubble-current">
    <div class="text">
        {{message.text}}
    </div>
  </div>
</div> -->

<div *ngIf="!message.isTimeDivider" class="wrapper">
    <!-- <h3 mat-line class="cursor-pointer"> {{message.username}} </h3> -->
    <div *ngIf="!isSameAsPreviousUsername" class="label-container">
      <span  class="img-holder">
        <img  src="http://localhost:3000/profilephoto/pic/{{message.photoPath}}">
      </span>
        <span class="username">
          <!-- {{getCorrectLabel()}}  -->
          {{label}}
        </span>
      </div>
    <div class="text-container">
      <span class="msg-text">
        {{message.text}}
      </span>
      <span class="time">
          {{outputTime()}}
      </span>
    </div >

  </div>

<div *ngIf="message.isTimeDivider" class="time-wrapper">
  <p>
    <span class="date-text">
      {{outputDate()}}
    </span>
  </p>
</div>
