.sidenav {
    width: 225px;
    background-color: #19242F;
    font-weight: 550;
    height: 100%;
    border: 1px solid black;
  }

app-thread-list {
  width: 225px;
  height:  90%;
  overflow: scroll;
  position: absolute;
  top: 0;
}
