.sidenav {
    width: 300px;
    /* background-color: #4F4E69; */
    background-color: black;
    font-weight: 550;
    height: 100%;
  }

.button-and-header{
  top: 0;
  position: sticky;
  width: 300px;
  background-color: black;
  margin-bottom: 5px;

}

.thread-list-container{
  width: 300px;
  height: 50%;
}

h1 {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 1000;
  display: inline-block;
  margin-left: 30px;
  margin-top: 5px;
  z-index: 10;
  font: roboto;
}

.direct{
  margin-left: 60px;
}
button {
  float: right;
  background-color: black;
  color: white;
  border:1px solid white;
  width:30px;
  height:30px;
  border-radius:100%;
  margin-right:14px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
}

button:focus{
  outline: none;
}

.thread-list-div{
  width: 300px;
  height: 85%;
  overflow: scroll;
}

.create-button:hover{
  background-color: lightgray;
}

