.unselected-btn{
    background-color: #7795AD;
    vertical-align: center;
    width: 100px;
    margin-top: 15px;
    margin-left: 10px;

}

.unselected-btn:hover{
    background-color: lightgray;
}



.selected-btn{
    background-color: rgb(128, 192, 245);
    margin-top: 15px;
    margin-left: 10px;
    width: 100px;

}

.selected-btn:hover{
    background-color: lightgray;
}