<div class="close-button-line">
        <button class="mat-close-button"(click)="close()"><mat-icon class="close-icon">close</mat-icon></button>
      </div>
      <mat-dialog-content>
        <h1 #matheader> {{header}}</h1>
        <mat-form-field class="search-form">
            <input matInput class="search" [value]="name" (input)="name = $event.target.value" placeholder="Enter Name...">   
        </mat-form-field>     
      
      </mat-dialog-content>
    
      <mat-dialog-actions>
        <div class="action-buttons">
          <button mat-button class="mat-save-button"(click)="save()">Create</button>
        </div>
      </mat-dialog-actions>
    
            
    
   
