.container{
    width: 300px;
    color: white;
    font: roboto;
    
}

.thread-name{
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    float: left;
    margin-right: 0px;
    padding-right: 0px;
    border: 0px;
}

.thread-name:hover{
    display: block;
    visibility: visible;
}

.is-active {
    background-color: rgb(99, 118, 136);
  
}

.overload{
    background-color: (0,0,0,0.5);
}

.notification{
    float: right;
 
}

.square{
    background-color: white;
    color: rgba(56, 56, 56, 0.6);
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    fill-opacity: 0.1;
    opacity: 0.7;

}
