.setting {
    width: 100%;
    height: 100px;
}

.prompt{
    font-size: 16pt;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.options{
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.save-btn{
    margin-left: 91%;
    margin-bottom: -10%;
    width: 100px;
    background-color: white;
    color: black;
}



.save-btn:hover{
    background-color: lightgray;
}

